<header class="site-header">

  <div class="wrapper">

    <!-- <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a> -->
	<a class="site-title fa fa-home fa-3x" href="{{ site.baseurl }}/"></a>
    <nav class="site-nav">

      <div class="trigger">
        {% for page in site.pages %}
          {% if page.title %}
          <a class="page-link" href="{{ page.url | site.baseurl | prepend: site.url }}">{{ page.title }}</a>
          {% endif %}
        {% endfor %}
      </div>
    </nav>

  </div>

</header>
