body, div, span, img, ul, li {
    margin: 0;
    padding: 0;
}

#header {
    width: 900px;
    height: 59px;
    margin: auto;
    color: #ffffff;
    line-height: 59px;
    background: #e20001 url(../img/header.jpg) no-repeat center;
}

    #header .logo {
        float: left;
        font-size: 40px;
        font-style: oblique;
        width: 210px;
    }

        #header .logo span {
            font-size: 20px;
            font-style: italic;
            padding: 0 15px;
            vertical-align: middle;
        }

#logo_indext {
    width: 900px;
    height: 80px;
    margin: auto;
}

    #logo_indext .qq {
        font-size: 50px;
        color: #e20001;
        line-height: 80px;
        width: 210px;
        height: 80px;
    }

        #logo_indext .qq span {
            color: #e20001;
            line-height: 80px;
            height: 80px;
            font-size: 30px;
        }

#Nav {
    width: 900px;
    height: 40px;
    margin: auto;
    background: #e20001;
    border-top: 1px solid #808080;
}

    #Nav ul {
        list-style: none;
        color: #ffffff;
    }

        #Nav ul li {
            float: left;
            padding: 0 24px;
            height: 40px;
            line-height: 40px;
            cursor: pointer;
        }

            #Nav ul li a {
                display: block;
                text-decoration: none;
                color: #ffffff;
            }

                #Nav ul li a:hover {
                    background: #808080;
                }

#xian {
    border: 1px solid #f6f6f6;
    width: 900px;
    margin: auto;
    margin-top: 8px;
    background: #f6f6f6;
}

.xian {
    border: 1px solid #f6f6f6;
    width: 900px;
    margin: auto;
    margin-top: 1px;
    background: #f6f6f6;
    height: 11px;
}

#content {
    width: 900px;
    height: 270px;
    margin: auto;
    background: #808080;
}

    #content .contentLeft {
        width: 210px;
        height: 270px;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        border-radius: 15px;
        border:1px 1px 1px 1px solid #f6f6f6;
        background-color:#b6ff00;
    }
    #content .contentLeft .top{
        height:70px;
        line-height:70px;
        text-align:center;
        font-size:23px;
        color:#ffffff;
        background:#e20001;
        border-radius: 15px 15px 0px 0px; 
    }
    #content .contentLeft .nav{
        height:200px;
    }
    #content .contentLeft .nav ul{
        list-style:none;
    }
    #content .contentLeft .nav ul li{
        height:50px;
        line-height:50px;
        text-align:center;
        color:#ffffff;
        font-weight:bold;
        cursor:pointer;
    }
    #content .contentLeft .nav ul li .jianbianXian{
        height:1px;
        -webkit-mask-box-image: -webkit-radial-gradient(50% 50%, white, transparent 80px);
    }